:root {
  --palette-dark-blue: #051635;
  --palette-red: #e3210d;
  --palette-red-darker: #b72816;
  --palette-light-blue: #8ec4eb;
  --palette-lighter-blue: rgba(142, 196, 235, 0.3);
  --palette-lightest-blue: rgba(142, 196, 235, 0.1);
  --palette-green: #1d9410;
  --screen-small: 768px;
  --nav-width: 250px;

  @media (max-width: 992px) {
    --nav-width: 0px;
  }
}

@counter-style paren-lower-alpha {
  system: extends lower-alpha;
  suffix: ") ";
}

* {
  font-family: 'Montserrat', sans-serif;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.9rem;
}

.w100 {
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

table {
  margin-top: 2rem;

  th {
    text-align: left;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.figure-box {
  @media (min-width: 992px) {
    display: flex;

    figure {
      flex-grow: 1;
      align-content: center;

      + figure {
        padding-left: 1rem;
      }
    }
  }
}


@keyframes hero-pan {
  0% {
    background-size: 100%;
    background-position: 50% 25%;
  }
  100% {
    background-size: 120%;
    background-position: center;
  }
}

header {
  background-image: url('/img/brc1.jpg');
  background-size: 120%;
  background-position: center;
  //background-size: cover;
  //background-position: center;
  background-blend-mode: lighten;
  display: flex;
  min-height: 360px;
  margin-left: var(--nav-width);

  animation-name: hero-pan;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  @media (max-width: 992px) {
    min-height: 250px;
  }

  a {
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-flow: column-reverse;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
    padding: 3rem 2rem;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 65%, rgba(0,0,0,0) 95%);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--nav-width);
  background: var(--palette-dark-blue);
  color: var(--palette-light-blue);
  transition: transform 0.2s;
  list-style: none;
  z-index: 10;
  
  @media (max-width: 992px) {
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-200%);
    padding-top: 4rem;
  }

  .logo-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    img {
      width: 150px;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;

    li {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid white;

      &:first-child {
        border-top: 1px solid white;
      }
    }
  }

  a {
    cursor: pointer;
    font-size: 1.01rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    display: block;
    color: white;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }

  &.open {
    transform: translateY(0);
  }
}

.nav-icon {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #ffffffcc;
  padding: 10px 10px 6px 10px;
  margin: 0;
  border-width: 0;
  cursor: pointer;
  display: none;
  border-bottom-right-radius: 5px;

  @media (max-width: 992px) {
    display: block;
  }


    .handles {
    fill: var(--palette-dark-blue);
  }

  &.open {
    background: var(--palette-dark-blue);

    .handles {
      fill: white;
    }
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  padding-left: calc(var(--nav-width) + 2rem);
  line-height: 1.5rem;

  a {
    color: var(--palette-red);
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      color: var(--palette-red-darker);
      text-decoration: underline;
    }
  }

  p + p {
    padding-top: 1.25rem;
  }

  dl + h3,
  p + h3 {
    xpadding-top: 2.5rem;
  }

  img {
    border-radius: 5px;
    margin-top: 1.5rem;
  }

  figcaption {
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
  }

  dl {
    padding-left: 1rem;
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: 0.25rem;
  }

  ul li {
    margin-bottom: 0.75rem;
  }
}

.contract {
  max-width: 800px;

  h4 {
    text-decoration: underline;
  }

  ol {
    counter-reset: section;
    list-style-type: none;
    padding-left: 0;

  }

  li {
    padding-top: 1rem;
  }

  > ol > li > ol > li::before,
  h4:before {
    counter-increment: section;
    content: counters(section, ".") ". ";
    font-weight: 700;
  }

  > ol > li > ol > li > ol {
    counter-reset: subsection;
    padding-left: 3rem;

    > li {
      list-style-type: paren-lower-alpha;
      counter-increment: subsection;
      content: counters(section, ".") ") ";
      padding-top: 1rem;
    }
  }

}

h3.embolden {
  background: var(--palette-dark-blue);
  color: white;
  padding: 0.3rem;
  margin-top: 1.5rem;
}

.calendar {
  .calendar-month {
    clear: both;
    margin-top: 2rem;
    min-height: 4.5rem;

    h3 {
      background: var(--palette-dark-blue);
      color: white;
      padding: 0.25rem;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  .calendar-event {
    clear: both;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6rem;
    border-top: 1px solid var(--palette-dark-blue);
    position: relative;
    min-height: 4.5rem;

    &:first-of-type {
      border-top-width: 0;
    }

    &:before {
      content: "Club Event";
      font-size: 0.9rem;
      background: var(--palette-dark-blue);
      color: white;
      padding: 2px 6px;
      display: inline-block;
      float: right;
    }

    &.individual:before {
      content: "Individual Event";
      background: var(--palette-red);
    }

    &.county:before {
      content: "County Team";
      background: var(--palette-green);
    }

    .event-day {
      position: absolute;
      left: 0;
      top: 1.5rem;
      font-size: 2rem;
      display: block;
      min-width: 4rem;
      border: 1px solid #aaa;
      line-height: 3.5rem;
      border-radius: 6px;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      background: antiquewhite;
      text-align: center;

      sup {
        font-size: 1rem;
      }
    }

    .event-organiser {
      display: block;
      font-size: 0.9rem;
      text-align: right;
      margin-top: 20px;
      &:before {
        content: 'Organiser:';
        margin-right: 0.5rem;
      }
    }
  }
}