<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{page.title}} | Bedfordians Rifle Club</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css?cb=1">
</head>
<body>

<header class="{{page.headerClass}}">
    <a href="{{page.homeLink | default: '/'}}"><h1>{{page.title}}</h1></a>

    <button class="nav-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 3rem; width: 3rem;">
            <path d="M0 0h512v512H0z" fill="transparent"></path>
            <g class="" transform="translate(0,0)">
                <path d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z" class="handles"></path>
            </g>
        </svg>
    </button>
</header>

<nav>
    <div class="logo-container">
        <img src="img/logo-new-2.png" />
    </div>
    <ul>
        <li><a href="/">Welcome</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/honours">Honours</a></li>
        <li><a href="/wohftbntbs">W.O.H.F.T.B.N.T.B.S.</a></li>
        <li><a href="/fullbore-shooting">Fullbore Shooting</a></li>
        <li><a href="/bisley-camp">Bisley Camp</a></li>
        <li><a href="/lets-shoot">Let's Shoot!</a></li>
        <li><a href="/the-law">The Law</a></li>
        <li><a href="/links-and-info">Links & Info</a></li>
    </ul>
</nav>

<main>
    {{ content }}
</main>

<footer>
</footer>

<script type="module" src="js/app.js"></script>
</body>
</html>